<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="TeamCord" Language="1033" Version="!(bind.FileVersion.TeamCordDLL)" Manufacturer="Kleinrotti" UpgradeCode="b2943214-eac9-4e3f-aa5f-2bc41a380949">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" Description="TeamCord Teamspeak plugin" />
    <Condition Message="This application requires .NET Framework 4.8. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45>=#528040]]>
    </Condition>
    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"/>

    <Feature Id="ProductFeature" Title="TeamCord" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="NeededComponents" />
    </Feature>
      
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="TS3Folder" Name="TS3Client">
          <Directory Id="TS3PluginFolder" Name="plugins">
            <Directory Id="INSTALLFOLDER" Name="TeamCord" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <PropertyRef Id="NETFRAMEWORK45" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="TS3PluginFolder">
      <Component Id="TeamCord.dll" Guid="{B419D057-D0EA-4986-9F00-FEFDC009B09D}">
        <RegistryKey Root="HKCU" Key="Software\TeamCord">
          <RegistryValue Name="TeamCordDLL" Value="1" KeyPath="yes" Type="integer" />
        </RegistryKey>
        <File Id="TeamCordDLL" Name="$(var.TeamCord.Plugin.TargetFileName)" Source="$(var.TeamCord.Plugin.TargetPath)" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NeededComponents" Directory="INSTALLFOLDER">
      <Component Id="libsodium.dll" Guid="{696EA44B-8073-4EAC-8D2F-A4C0DFA621F9}">
        <RemoveFolder Id="RemoveTeamCordDirectory" On="uninstall" />
        <RegistryKey Root="HKCU" Key="Software\TeamCord">
          <RegistryValue Name="TeamCordFolder" Value="1" KeyPath="yes" Type="integer" />
        </RegistryKey>
        <File Id="libsodium.dll" Source="libsodium.dll" Checksum="no" />
      </Component>

      <Component Id="opus.dll" Guid="{09ED1BCF-DE6C-4D4E-83E4-AC5122755817}">
        <File Id="opus.dll" Source="opus.dll" Checksum="no" />
      </Component>

      <Component Id="logo" Guid="{F84203BF-4507-48D5-A823-7D0166650685}">
        <File Id="logo.png" Source="..\TeamCord.Plugin\logo.png" Checksum="no" />
      </Component>

      <Component Id="audio_join" Guid="{90E57E1B-0EC6-4E05-BCC0-57BD89F2E93A}">
        <File Id="user_join.mp3" Source="user_join.mp3" Checksum="no" />
      </Component>

      <Component Id="audio_leave" Guid="{A6F0D04D-F147-42FE-9DC2-0801B8DAAF46}">
        <File Id="user_leave.mp3" Source="user_leave.mp3" Checksum="no" />
      </Component>

      <Component Id="audio_disconnected" Guid="{5B60B7F8-5761-4543-A625-F50D73F9686F}">
        <File Id="voice_disconnected.mp3" Source="voice_disconnected.mp3" Checksum="no" />
      </Component>

      <Component Id="Path" Guid="{9112EC61-7526-4F79-BF7C-11884DD7A78D}">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>